
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

/* Naslovi */
h1 {
  margin-bottom: 20px;
}

/* Dugmad */
button {
  padding: 10px 16px;
  margin-top: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1e4ed8;
}

/* Input polja */
input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

h4 {
  cursor: pointer;
  margin: auto;
  font-size: 22px;
  font-weight: 300;
  transition: font-weight 250ms ease-in-out;
}
h4:hover {
   font-weight: 900;
}
/* Naslovi */
h1 {
  margin-bottom: 20px;
}


/* Dugmad */
button {
  padding: 10px 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1e4ed8;
}

/* Input polja */
input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
}

.auth-box {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 24px;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth-box label {
  font-weight: 500;
}

.auth-box input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-box button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.auth-switch {
  margin-top: 16px;
  text-align: center;
}
.role-group {
  display: flex;
  gap: 24px;              
  margin-top: 8px;
}

.role-option {
  display: flex;
  align-items: center;    
  gap: 6px;
  cursor: pointer;
}

.role-option input[type="radio"] {
  margin: 0;
}

.auth-header img {
  display: block;       /* KLJUČNO */
  margin: 0 auto 16px;  /* centrira sliku */
}
